$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$shadow: 0 1px 5px rgba(54, 54, 54, 0.8);
$box-background: darken(rgb(0, 59, 77), 7);
$background: rgb(106, 138, 153);
$border: 2px solid #eece1a;



@mixin easeOut {
    transition: all 0.5s ease-out;
}





// media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 760px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}